*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#b8f5c5,#dff8e6);
    display:flex;
    justify-content:center;
    padding:30px;
}

.phone{
    width:380px;
    background:white;
    border-radius:25px;
    padding:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#2e7d32;
}

.subtitle{
    text-align:center;
    color:gray;
    margin-bottom:20px;
}

.card{
    background:#f7fff7;
    border-radius:18px;
    padding:18px;
    margin-bottom:18px;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.card h2{
    color:#2e7d32;
    margin-bottom:10px;
}

button{
    width:100%;
    margin-top:10px;
    padding:12px;
    border:none;
    border-radius:12px;
    background:#4CAF50;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    background:#388E3C;
    transform:scale(1.03);
}

.tree{
    font-size:70px;
    text-align:center;
    margin:15px 0;
}

label{
    display:block;
    margin:12px 0;
    font-size:17px;
}

textarea{
    width:100%;
    height:120px;
    border-radius:12px;
    padding:10px;
    border:1px solid #ccc;
    resize:none;
    font-size:15px;
}

#result{
    margin-top:15px;
    text-align:center;
    font-weight:bold;
    color:#2e7d32;
}

#saveMessage{
    text-align:center;
    margin-top:10px;
    color:green;
    font-weight:bold;
}

@media(max-width:500px){

.phone{
    width:100%;
}

}